.slick-dots-bottom{
    margin: 0 !important;
    padding: 0 !important;
}
.slick-dots li button:before {
    content: "" !important;
}
.ant-carousel .slick-prev, .ant-carousel .slick-next {
    color: gray !important;
    font-size: 50px !important;
    z-index: 10;
}
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
  color: white !important;
  font-size: 55px !important;
  transition: 0.5s !important;
}
.ant-carousel .slick-prev {
    left: 50px !important;
}
.ant-carousel .slick-next {
    right: 50px !important;
}