@media only screen and (max-width: 1025px) {
    /* navHeader */
    .navHeader__btn{
        display: block !important;
    }
    .navHeader__link{
        display: none !important;
    }
    .navHeader__user{
        display: none !important;
    }
    /* carousel + listFim*/
    .slick-prev{
        left: -50px !important;
    }
    .slick-next {
        right: -20px !important;
    }
    .modal-trailer{
        width: 800px !important;
    }
    /* tabsFilm */
    .tabsfilm__tab-cumRap{
        width: 250px !important;
    }
    .tabsfilm__item-lichChieu {
        grid-template-columns: 1fr 1fr !important;
    }
    /* profile */
    .profile__tabs{
        margin-top: 0 !important;
    }
    .profile__tabs__form{
        width: 80% !important;
    }
}

@media only screen and (max-width: 769px) {
    /* carousel + listFim*/
    .modal-trailer{
        width: 650px !important;
        height: 400px !important;
    }
    .listfilm__btn{
        padding: 10px 20px !important;
    }
    .listfilm__search{
        width: 240px !important;
    }
    /* tabsFilm */
    .tabsfilm__item-lichChieu {
        grid-template-columns: 1fr !important;
    }
    .itemTabsPhim__content{
        width: 160px !important;
    }
    .itemTabsPhim__img{
        width: 50px !important;
        height: 50px !important;
    }
}

@media only screen and (max-width: 481px) {
    /* navheader */
    .navHeader{
        padding: 0 !important;
    }
    /* carousel + listFim*/
    #lichChieu{
        padding: 0 !important;
    }
    #tinTuc{
        padding: 0 !important;
    }
    .home__content{
        padding: 0 !important;
    }
    .homecarousel__img{
        height: 300px !important;
    }
    .ant-carousel .slick-prev, .ant-carousel .slick-next {
       display: none !important;
    }
    .modal-trailer{
        width: 100% !important;
        height: 400px !important;
    }
    .listfilm__top{
        flex-direction: column-reverse !important;
    }
    .listfilm__btn{
        padding: 0 5px !important;
        margin-top: 15px !important;
    }
    .listfilm__search{
        width: 200px !important;
    }
    .slick-prev{
        left: 20px !important;
        z-index: 10;
    }
    .slick-next {
        right: 50px !important;
        z-index: 10;
    }
    .item-film{
        height: 600px !important;
    }
    .item-film-img{
        height: 500px !important;
    }
    /* tabsFilm */
    .tabsPhim__mobile{
        display: block !important;
    }
    .tabsPhim{
        display: none !important;
    }

    /* news */
    .newsTabs__item{
        grid-template-columns: 1fr !important;
    }
    .newsTabs__item:first-child{
        height: auto !important;
    }
    .news__item {
        width:100% !important;
    }
    /* footer */
    .footer__item{
        grid-template-columns: 1fr 1fr !important;
    }
    .footer__item__padding{
        padding-top: 0 !important;
    }
    .footer__item__doiTac{
        grid-template-columns: 1fr 1fr 1fr !important;
    }
    /* profile */
    .profile{
        grid-template-columns: 1fr !important;
    }
    .profile__img{
        width: 300px !important;
    }
    .ant-col-offset-4 {
        margin-left: 0 !important;
        margin-top: 10px !important;
    }
    .ant-form-item {
        margin-bottom: 0 !important;
    }
}